<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../static/css/welcome.css">
    <script src="../static/js/slideshow.js"></script>
    <title>Welcome</title>
</head>

<body>
    <div class="slideshow">
        <img name="slide" class="slideshow--photos">
        <div class="slideshow--buttons">
            <div class="slideshow--buttons-left">
                <i class="fas fa-chevron-left" style="font-size: 30px;" onclick="nextPhoto(-1)"></i>
            </div>
            <div class="slideshow--buttons-right">
                <i class="fas fa-chevron-right" style="font-size: 30px;" onclick="nextPhoto(1)"></i>
            </div>
        </div>
        <div class="slideshow--dots">
            <i class="fas fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
            <i class="far fa-circle"></i>
        </div>
        <div class="nav-bar">
            <p class="nav-bar-title">Welcome</p>
        </div>
    </div>
    <div class="body--top-students">
        <div>
            <div>
                <img src="../static/images/bill.jpg" alt="avatar" class="avatar-images">
            </div>
            <div>
                <h1 class="avatar--title">Bill Gates</h1>
                <p class="avatar--body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptates fuga sint architecto atque asperiores corporis, quis dicta ipsa nobis dolores blanditiis dolorem a ut hic sunt saepe recusandae aspernatur!
                </p>
            </div>
        </div>
        <div class="top-student">
            <div>
                <img src="../static/images/bill.jpg" alt="avatar" class="avatar-images">
            </div>
            <div>
                <h1 class="avatar--title">Bill Gates</h1>
                <p class="avatar--body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptates fuga sint architecto atque asperiores corporis, quis dicta ipsa nobis dolores blanditiis dolorem a ut hic sunt saepe recusandae aspernatur!
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>Contact Us: 0700034223</p>
        </div>
        <div>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
    </footer>
</body>

</html>